* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.global {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: darkgray;
}
p {
    font-size: 30px;
}

.container {
    flex: 1 0 auto;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.header {
    width: auto;
    height: 100px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}


.item {
    width: 350px;
    height: 250px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer {
    width: auto;
    height: 100px;
    background-color: white;
    color: black;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}